.Header {
  background-color: black;
  color: white;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
}

.db {
  font-size: 24px;
  margin-right: 20px;
  font-weight: bold;
}

h1 {
  font-size: 24px;
  margin: auto;
}

h2 {
  font-size: 20px;
  margin: auto;
}

h3 {
  font-size: 16px;
  margin: auto;
}