.AlbumInfo {
    display: flex;
    flex-flow: row nowrap;
}

.leftArrow {
    padding-top: 50vh;
    flex: 1;
    margin: 10px;
    text-align: left;
    /* border: 1px solid red; */
}

.rightArrow {
    padding-top: 50vh;
    flex: 1;
    height: 100vh;
    margin: 10px;
    text-align: right;
    /* border: 1px solid red; */
}

.middleSection {
    flex: 6;
}