.Home {
    /* background-image: url('../../assets/samplePic.jpeg'); */
    background-size: 200%;
    background-repeat: repeat-y;
    background-position: center top;
    padding-bottom: 10px;
    min-height: 100vh;
    position: relative;
    /* backdrop-filter: brightness(0%); */
}

.Home:before {
    content: '';
    position: absolute;
    z-index: 0;
    width: 100%;
    min-height: 100%;
    backdrop-filter: blur(20px) saturate(50%);
    -webkit-backdrop-filter: blur(20px) saturate(50%);
    /* backdrop-filter: brightness(50%); */
    /* filter: brightness(60%); */

}

.AlbumInfo {
    min-height: 90vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    margin: 5px 10px 0 10px;
    /* background-color: #B1AB99; */
    background: rgba(177, 171, 153, 0.5);
    border-radius: 5px;
}

.leftArrow {
    padding-top: 50vh;
    flex: 1;
    margin: 10px;
    text-align: left;
    /* border: 1px solid red; */
}

.rightArrow {
    padding-top: 50vh;
    flex: 1;
    margin: 10px;
    text-align: right;
    /* border: 1px solid red; */
}

.middleSection {
    flex: 8;
}

.albumContent {
    margin: 10px;
}

.albumCover {
    /* max-width: 200px; */
    width: 100%;
    margin: 10px auto;
    display: block;
} 

.albumTitle {
    text-align: center;
}

.albumArtist {
    text-align: center;
}

.albumTracks {
    display: none;
}

.albumRating {
    display: block;
    margin-top: 10px;
}

input[type='radio'] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}

.albumTrackList {
    list-style-type: none;
    /* border: 1px solid #c9c9c9; */
    border: 1px solid black;
    border-radius: 5px;
    padding: 0;

}

.entireTrack {
    /* border-bottom: 1px solid #c9c9c9; */
    border-bottom: 1px solid black;
    padding: 5px;
}
.entireTrack:last-child {
    border-bottom: none;
}
/*
.entireTrack:nth-child(even) {
    background: rgba(177, 171, 153, 0.5);
}
*/
.trackNoNamePlus {
    display: flex;
}

.trackRating {
    display: none;
    margin-left: 6%;
    padding-left: 10px;
}

.trackNo {
    margin: auto 10px auto 0px;
    flex: 1;
}

.trackName {
    flex: 15;
    text-align: left;
}

.plus {
    text-align: right;
    width: 100%;
    /* margin: auto 0px auto 10px; */
    flex: 1;
}
/*
.albumRating {
    display: flex;
    flex-flow: column;
}
*/
.albumRatingSection {
    /* margin: 40px 0; */
    padding: 3px 0;
    display: flex;
    align-items: left;
    text-align: left;
}

.albumRatingLabel {
    flex: 2;
}

.albumRatingInput {
    flex: 5;
    margin-top: 2px;
}

.textInput {
    border-radius: 5px;
    /* border: 1px solid rgb(214, 216, 218); */
    border: 1px solid black;
    padding: 5px;
    background: rgba(177, 171, 153, 0.5);
    /* background-color: black; */
    font-family: "Lato", "Helvetica Neue", sans-serif;
    color: black;
}
.textInput:focus-within {
    outline: 1px solid #ffeaa0;
    border: none;
}

.albumJournalSection * {
    vertical-align: top;
}

.journalLabel {
    margin-top: 0px;
}

.albumJournal {
    height: 50px;
}

.trackRatingSection {
    display: flex;
    margin-top: 6px;
}

.trackRatingLabel {
    text-align: left;
    flex: 1;
    margin-right: 3px;
}

.trackRatingInput {
    text-align: left;
    flex: 3;
    margin-left: 3px;
    margin-top: 2px;
}

/*TAGS*/
.tags-input {
    border-radius: 5px;
    /* border: 1px solid rgb(214, 216, 218); */
    border: 1px solid black;
    background: rgba(177, 171, 153, 0.5);
    padding: 2px;
    /* flex: 5; */
    display: flex;
    flex-wrap: wrap;
}
.tags-input:focus-within {
    border: 1px solid #ffeaa0;
}
.tags-input input {
    border: none;
    background: none;
    color: black;
}
.tags-input input:focus {
    outline: transparent;
}
#tags {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
}
.tags {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
}
.tag {
    list-style: none;
    border-radius: 5px;
    background: #ffea00;
    padding: 2px 3px 3px 5px;
    margin: 1px;
    color: #4B4637;
    font-size: 14px;
}
.tag .tag-close-icon {
    color: #ffea00;
    background: #4B4637;
    border-radius: 50%;
    margin-left: 6px;
    position: relative;
    top:-2px;
    padding: 0 4px 2px 4px;
    font-size: 10px;
    
    /* height: 14px; */
    /* line-height: 14px; */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #4B4637;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #4B4637;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #4B4637;
}

/* @media only screen and (min-width: 600px) */