.MyMusic {
    background-color: black;
}

.dbAlbums {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.dbAlbum {
    margin: 5px;
}

.dbAlbumCover {
    transition: 0.3s;
    max-width: 100px;
}
.dbAlbumCover:hover {opacity: 0.7;}

.dbAlbumRatingSection {
    padding: 2px 0 2px 0;
}

.dbAlbumStarsSection {
    text-align: center;
}

.dbAlbumTags {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

.dbAlbumTracks {
    padding-bottom: 5px;
}

.dbAlbumTrackList {
    list-style-type: none;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding: 0;
    margin: 5px 10px;
}

.dbTrack {
    border-bottom: 1px solid #c9c9c9;
    padding: 5px;
}

.dbTrackNoName {
    padding: 2px 0 2px 0;
}

.dbTrackStarsSection {
    padding: 2px 15px;
}

.dbTrackTagsSection {
    padding: 2px 15px;
}

.trackTags {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
}

.tag {
    list-style: none;
    border-radius: 5px;
    background: #ffea00;
    margin: 1px;
    color: #4B4637;
    font-size: 14px;
}

.modal {
    display: none;
    color: #f1f1f1;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 100px;  */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);  */
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center top;
    /* backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); */
}

.modal:before {
    content: '';
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.allModalContent {
    z-index: 2;
    position: relative;
    margin: 55px 10px 5px 10px;
    padding-top: 10px;
    /* background-color: #B1AB99; */
    background: rgba(177, 171, 153, 0.5);
    border-radius: 5px;
}

.albumCoverModal {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    padding-bottom: 5px;
}

.albumContent {
    text-align: center;
}

.albumRatingSection {
    margin: auto;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  .modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  .close {
    position: absolute;
    top: -5px;
    right: 10px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

.AlbumsInDB {
    margin: 5px 10px;
    /* background-color: #B1AB99; */
    /* border-radius: 5px; */
    height: 100vh;
    /* background: rgba(177, 171, 153, 0.3); */
}

.dbSectionTitle {
    padding: 10px;
}

.albumsInDB {
    font-size: 14px;
}

.albumsInDB ul {
    list-style-type: none;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding: 0;
    margin: 5px 10px;
}

.albumsInDB li {
    border-bottom: 1px solid #c9c9c9;
    padding: 5px;
}
/*
.albumsInDB li:nth-child(even) {
    background-color: #eeeeee;
}
*/
.albumTitleArtist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.albumTitleArtist span {
    /* border: 1px solid orange; */
    padding: 0 2px;
}

.albumCoverSmall {
    margin-top: auto;
    max-width: 40px;
    /* margin: 10px auto; */
    display: block;
}

.albumTitleDB {
    font-style: italic;
}
/*
.albumCoverDB {
    flex: 1;
}

.albumArtistDB {
    flex: 4;
}

.albumTitleDB {
    flex: 4;
}
*/

.plus {
    text-align: right;
    /* width: 100%; */
    /* margin: auto 0px auto 10px; */
    /* flex: 1; */
}
.albumInfoDB {
    display: none;
}

.trackNoNameInfo span {
    padding: 0 5px;
}

.trackNoDB {
    margin: auto 6px auto 0px;
    flex: 1;
}

.trackNameDB {
    flex: 14;
}

.trackRatingDB {
    flex: 4;
}

.trackTagsDB {
    flex: 6;
}