.Header {
    background-color: #B1AB99;
    opacity: 0.5;
    color: #4B4637;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }
  
  .logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .db {
    font-size: 24px;
    margin-right: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  a:visited {
    color: #4B4637;
  }
  
  