.Header {
    /* background-color: #B1AB99; */
    /* opacity: 0.5; */
    background: rgba(177, 171, 153, 0.5);
    color: #FFEAA0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  .logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #FFEAA0;
  }
  
  .db {
    font-size: 24px;
    margin-right: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  a:visited {
    color: #FFEAA0;
  }
  
  